---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dead Inside Designs</title>
	</head>
	<body style="
	font-family: Arial, sans-serif;
	max-width: 700px;
	margin: 40px auto;
	line-height: 1.6;
	background-color: #cfd8e3;
	color: #1f2933;
	padding: 30px;
">

	<h1 style="color: #3b4f63;">Dead Inside Designs</h1>

	<p><i>Hold my beer. *goes to therapy*</i></p>

	<p>
		This page contains designs that shouldn't be taken too seriously.<br>
		You're free to download, use, modify.<br>
		Credit is nice. Donations too.
	</p>

	<hr>

	<h2 style="color: #3b4f63; margin-top: 40px;">
	Designs (cuming soon)
	
	</h2>

	<p>Stay tuned. Or don’t. It’s fine.</p>

	</body>
</html>
